Head First Design Pattern : "Toolbox for OO Design"

	* "Basic OO"
		=> Abstraction 
		=> Encapsulation
		=> Inheritance
		=> Polymorphism
		
		* Those basics doesn't make you good OO designer.
		
	* "OO Principles"
		=> Encapsulate what varies.
		=> Favor Composition rather than inheritance.
		=> Program to interfaces, not on implentation.
		=> Strive for loosely coupled design between objects that interact.
		
	* "OO Patterns"
		- Strategy :
			** Define a set of algorithm,
			** Encapsulate them,
			** Make them interchangeable at runtime.
		
		- Observer :
			** Define a one-to-many dependency between objects,
			** So that when one Object changes state
			** All it depends are notifiy and updated automatically.